
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="background-black">
    <div class="background-overlay"></div>
    <div class="container">
        <div class="background-title">
            <h2>Change password</h2>
            <p>
                <a href="@Url.Action("Index","Home")">Home</a> / <a href="#">Change password</a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="form-sm">
            @using (Html.BeginForm())
            {
                <div class="form-field">
                    @if (ViewBag.Msg != null)
                    {
                        <div class="error">@ViewBag.Msg</div>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <div class="success">@ViewBag.Success</div>
                    }
                </div>
                <div class="form-field">
                    <p>Old Password</p>
                    <input type="password" name="opw" class="form-control" required>
                </div>
                <div class="form-field">
                    <p>New Password</p>
                    <input type="password" name="npw" class="form-control" required>
                </div>
                <div class="form-field">
                    <p>Confirm New Password</p>
                    <input type="password" name="cfpw" class="form-control" required>
                </div>
                <div class="form-field">
                    <button type="submit" class="btn btn-green">Change password</button>
                </div>
            }
            <a href="@Url.Action("Index","User",new {id=Session["uid"] })" class="back"> Back</a>
        </div>
    </div>
</div>